/*
  for more info about the format of this file, see
  https://quarto.org/docs/output-formats/html-themes-more.html
  and for a list of template variables, see
  https://quarto.org/docs/output-formats/html-themes.html#sass-variables
*/
/*-- scss:defaults --*/
$code-block-bg: #f8f5f0;
$code-bg: #f8f5f0;
